<p>
  <strong>Title:</strong>
  <%= @socio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @socio.description %>
</p>

<% if @socio.image.present? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @socio.image.url %>
  </p>
<% end %>

<% if @socio.video.present? %>
  <p>
    <strong>Video:</strong>
    <video width="500" controls>
      <source src="<%= @socio.video.url %>" type="video/mp4">
    </video>
  </p> 
<% end %>

<p><%= @socio.likes.count %> <%= (@socio.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @socio.likes.find { |like| like&.user_id == current_user&.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', socio_like_path(@socio, pre_like.id), method: :delete %>
<% else %>
  <%= button_to 'Like', socio_likes_path(@socio), method: :post%>
<% end %>

<h2>Comments</h2>
<% @socio.comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user.email %>:</strong></p>
    <p><%= comment.content %></p>
  </div>
<% end %>
<%= form_with(model: [@socio, Comment.new]) do |form| %>
    <%= form.text_area :content, placeholder: "Add a comment..." %>
    <%= form.submit "Comment" %>
<% end %>










<% user_to_follow = @socio.user %>

<% unless current_user&.following?(user_to_follow) %>
  <%= button_to 'Follow', relationships_path(user_id: user_to_follow.id), method: :post %>
<% else %>
  <%= button_to 'Unfollow', relationship_path(current_user.active_relationships.find_by(followed_id: user_to_follow.id)), method: :delete %>
<% end %>



<%= button_to 'Delete', socio_path(@socio), method: :delete, data: { confirm: 'Are you sure you want to log out?' } %> |
<%= link_to 'Edit', edit_socio_path(@socio) %> |
<%= link_to 'Back', socios_path %>





