<p>
  <strong>Title:</strong>
  <%= @socio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @socio.description %>
</p>

<% if @socio.image.present? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @socio.image.url %>
  </p>
<% end %>

<% if @socio.video.present? %>
  <p>
    <strong>Video:</strong>
    <%= video_tag @socio.video.url %>
  </p> 
<% end %>



  <% if user_signed_in? %>
    <% if @socio.likes.where(user_id: current_user.id).exists? %>
      <%= link_to 'Unlike', [@socio, @socio.likes.find_by(user: current_user)], method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'Like', [@socio, @socio.likes.build(user: current_user)], method: :post, class: 'btn btn-primary' %>
    <% end %>

    <button
    id="like-toggle"
    data-socio-id="<%= @socio.id %>"
    data-liked="<%= current_user.likes?(@socio) %>"
    >
    <%= current_user.likes?(@socio) ? 'Unlike' : 'Like' %>
    </button>
  <% end %>

<%= button_to 'Delete', socio_path(@socio), method: :delete, data: { confirm: 'Are you sure you want to log out?' } %> |
<%= link_to 'Edit', edit_socio_path(@socio) %> |
<%= link_to 'Back', socios_path %>
