<p>
  <strong>Title:</strong>
  <%= @socio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @socio.description %>
</p>

<% if @socio.image.present? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @socio.image.url %>
  </p>
<% end %>

<% if @socio.video.present? %>
  <p>
    <strong>Video:</strong>
    <%= video_tag @socio.video.url %>
  </p> 
<% end %>


<p><%= @socio.likes.count %> <%= (@socio.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% pre_like = @socio.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', socio_like_path(@socio, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', socio_likes_path(@socio), method: :socio%>
<% end %>




<%= button_to 'Delete', socio_path(@socio), method: :delete, data: { confirm: 'Are you sure you want to log out?' } %> |
<%= link_to 'Edit', edit_socio_path(@socio) %> |
<%= link_to 'Back', socios_path %>





