<p>
  <strong>Title:</strong>
  <%= @socio.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @socio.description %>
</p>

<% if @socio.image.present? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @socio.image.url %>
  </p>
<% end %>

<% if @socio.video.present? %>
  <p>
    <strong>Video:</strong>
    <video width="500" controls>
      <source src="<%= @socio.video.url %>" type="video/mp4">
    </video>
  </p> 
<% end %>

<!-- Display likes count -->
<p><%= @socio.likes.count %> <%= (@socio.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<!-- Display followers count -->
<p>Followers: <%= @user.followers_count %></p>
<!-- Display following count -->
<p>Following: <%= @user.following_count %></p>


<% pre_like = @socio.likes.find { |like| like&.user_id == current_user&.id} %>
<% if pre_like %>
  <%= button_to 'Unlike', socio_like_path(@socio, pre_like.id), method: :delete %>
<% else %>
  <%= button_to 'Like', socio_likes_path(@socio), method: :post%>
<% end %>

<h2>Comments</h2>
<% @socio.comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user.email %>:</strong></p>
    <p><%= comment.content %></p>
  </div>
<% end %>
<%= form_with(model: [@socio, Comment.new]) do |form| %>
    <%= form.text_area :content, placeholder: "Add a comment..." %>
    <%= form.submit "Comment" %>
<% end %>





<% user_to_follow = @socio.user %>


<% unless current_user.id == user_to_follow.id %>
  <% unless current_user&.following?(user_to_follow) %>
    <%= button_to 'Follow', relationships_path(user_id: user_to_follow.id, socio_id: @socio), method: :post %>
  <% else %>
    <%= button_to 'Unfollow', relationship_path(current_user.active_relationships.find_by(followed_id: user_to_follow.id), socio_id: @socio), method: :delete %>
  <% end %>
<% end %>



<% if @socio.user == current_user %>
  <%= button_to 'Delete', socio_path(@socio), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
<% end %> 
<% if current_user == @socio.user %>
  <%= link_to 'Edit |', edit_socio_path(@socio) %>
<% end %> 
<%= link_to 'Back', socios_path %>





